:root {
  --accent-color: #FF6C00;
  --primary-text-color:#555555;
  --header-links-color: #fff;
  --hero-soc-link-color: #303030;
  --hero-btn-color: #303030;
  --hero-text-color: #9DA4BD;
  --hero-title-text-color:#FFFFFF;
  --hero-socials-color:#303030;
  --about-tittle-color: #303030;
  --about-btn-tx-color:#303030;
  --services--up-titile: #9DA4BD;
  --services-title-text-color: #FFFFFF;
  --services-table-color:#9DA4BD;
  --services-btn-color:#FFFFFF;
  --choice--prm-text-color: #303030;
  --choice-dscr-color:#555555;
  --barbers-prm-color: #303030;
  --gallery-up-title-color:#303030;
  --contacts-title-color: #fff;
  --contacts-btn-color: #fff;
  --contacts-sub-tit-color: #fff;
  --contacts-text-color:#9DA4BD;
  --footer-prm-color: #303030;
  --footer-copyright:#9DA4BD;
}

.social-link, .contact__list, .portfolio__list, .barbers__list, .choice__list, .service__list, .about__list, .mob-menu__soc-list, .mob-menu__list, .header__list, .socials {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-link__link, .mob-menu__soc-link, .mob-menu__tel, .mob-menu__link, .socials__link, .logo {
  text-decoration: none;
  color: var(--primary-link-color);
}

.booking-button, .menu-close, .menu-open {
  display: inline-block;
  border: transparent;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

article {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.no-scroll {
  overflow: hidden;
}

.header-hero-bacground {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2))), url(../img/bcg-img/barber-mobile.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2)), url(../img/bcg-img/barber-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-hero-bacground {
    background-image: url(../img/bcg-img/barber-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header-hero-bacground {
    background-image: url(../img/bcg-img/barber-tablet.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-hero-bacground {
    background-image: url(../img/bcg-img/barber-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .header-hero-bacground {
    background-image: url(../img/bcg-img/barber-desctop.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-hero-bacground {
    background-image: url(../img/bcg-img/barber-desctop-2x.jpg);
  }
}

.logo {
  display: block;
  padding-top: 40px;
  fill: #fff;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgba(25, 28, 38, 0.2);
}

@media screen and (max-width: 768px) {
  .navigate {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__contact {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100vh;
  display: block;
  overflow: auto;
  background-color: #fff;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: var(--hero-socials-color);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: initial;
  pointer-events: none;
}

.mob-menu-wrap {
  max-width: 337px;
  height: 100%;
  padding: 118px 99px 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-open {
  position: absolute;
  top: 48px;
  right: 31px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 48px;
  right: 31px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  border: transparent;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__link {
  color: var(--hero-socials-color);
  font-weight: 600;
  font-size: 18px;
}

.current {
  color: var(--accent-color);
}

.mob-menu__tel {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.mob-menu__booking-button {
  width: 194px;
  height: 40px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--hero-btn-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  margin-top: 24px;
  margin-bottom: 64px;
}

.mob-menu__bott-wrap {
  margin-top: auto;
}

.mob-menu__soc-list {
  position: relative;
  width: 62px;
  padding-left: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.2em;
  color: var(--hero-soc-link-color);
}
.mob-menu__soc-list::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background: #303030;
  top: 9px;
  left: 0;
}

.mob-menu__soc-item:not(:last-child) {
  margin-bottom: 24px;
}

.hero {
  padding-top: 280px;
  padding-bottom: 209px;
  text-align: center;
  height: 580px;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 680px;
    padding-top: 178px;
    padding-bottom: 237px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 178px;
    padding-bottom: 208px;
    text-align: center;
  }
}

.social-link {
  position: relative;
  width: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.2em;
  color: var(--hero-soc-link-color);
  margin-left: 100px;
}

.social-link__item:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background: #303030;
  top: 11px;
  left: -100px;
}/*# sourceMappingURL=main.css.map */