:root {
  --accent-color: #FF6C00;
  --primary-color:#303030;
  --additional-color: #555555;
  --primary-light-color: #fff;
}

.social-link, .contact__list, .portfolio__list, .barbers__list, .choice__list, .service__list, .about__list, .mob-menu__soc-list, .mob-menu__list, .header__list, .socials {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-link__link, .contact__link, .contact__adress, .mob-menu__soc-link, .mob-menu__tel, .mob-menu__link, .header__link, .tel__link, .socials__link, .logo {
  text-decoration: none;
  color: var(--primary-link-color);
}

.boooking-form__btn, .booking-button, .menu-close, .menu-open, .next, .prev {
  display: inline-block;
  border: transparent;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
}

.portfolio__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  color: #303030;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.no-scroll {
  overflow: hidden;
}

.background-slides {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 610px;
  background-color: #111319;
}

.background-slides--anabled {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .background-slides--anabled {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .background-slides--desibled {
    display: none;
  }
}

.slide-1 {
  height: 610px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/backgrounds/mob/background-mob-1-1x.jpg);
  background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/backgrounds/mob/background-mob-1-1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .slide-1 {
    height: 680px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slide-1 {
    background-image: url(../images/backgrounds/mob/background-mob-1-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .slide-1 {
    background-image: url(../images/backgrounds/tab/background-tab-1-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slide-1 {
    background-image: url(../images/backgrounds/tab/background-tab-1-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slide-1 {
    background-image: url(../images/backgrounds/desk/background-desk-1-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .slide-1 {
    background-image: url(../images/backgrounds/desk/background-desk-1-2x.jpg);
  }
}

.slide-2 {
  height: 610px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/backgrounds/mob/background-mob-2-1x.jpg);
  background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/backgrounds/mob/background-mob-2-1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .slide-2 {
    height: 680px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slide-2 {
    background-image: url(../images/backgrounds/mob/background-mob-2-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .slide-2 {
    background-image: url(../images/backgrounds/tab/background-tab-2-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slide-2 {
    background-image: url(../images/backgrounds/tab/background-tab-2-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slide-2 {
    background-image: url(../images/backgrounds/desk/background-desk-2-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .slide-2 {
    background-image: url(../images/backgrounds/desk/background-desk-2-2x.jpg);
  }
}

.slide-3 {
  height: 610px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/backgrounds/mob/background-mob-3-1x.jpg);
  background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/backgrounds/mob/background-mob-3-1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .slide-3 {
    height: 680px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slide-3 {
    background-image: url(../images/backgrounds/mob/background-mob-3-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .slide-3 {
    background-image: url(../images/backgrounds/tab/background-tab-3-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slide-3 {
    background-image: url(../images/backgrounds/tab/background-tab-3-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slide-3 {
    background-image: url(../images/backgrounds/desk/background-desk-3-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .slide-3 {
    background-image: url(../images/backgrounds/desk/background-desk-3-2x.jpg);
  }
}

.slick-btn-wrap {
  display: none;
}
@media screen and (min-width: 768px) {
  .slick-btn-wrap {
    z-index: 20;
    position: absolute;
    bottom: 40px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}

.slick-btn {
  width: 60px;
  position: relative;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
}

.prev {
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
  border-radius: 0;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.prev:active, .prev:hover, .prev:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: transition;
          transform: transition;
}

.next {
  text-align: right;
  border-radius: 0;
  color: rgba(157, 164, 189, 0.6);
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.next:active, .next:hover, .next:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: transition;
          transform: transition;
}

.logo {
  display: block;
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .logo {
    fill: #303030;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #303030;
}

.socials__link {
  width: 100%;
  height: 100%;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.socials__link:hover, .socials__link:focus {
  color: #FF6C00;
  -webkit-transform: transition;
          transform: transition;
}

.socials__icon {
  fill: currentColor;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .header__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigate {
  display: none;
  margin-left: 70px;
}
@media screen and (min-width: 768px) {
  .navigate {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .navigate {
    margin-left: 130px;
  }
}

.header__contact {
  display: none;
  margin-left: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__contact .booking-button {
  color: #FFFFFF;
}

.tel__link {
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.tel__link:hover, .tel__link:focus {
  color: #FF6C00;
  -webkit-transform: transition;
          transform: transition;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
  }
}

.header__link {
  display: inline-block;
  padding-top: 12px;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.header__link:hover, .header__link:focus {
  color: #FF6C00;
  -webkit-transform: transition;
          transform: transition;
}
@media screen and (min-width: 1200px) {
  .header__link {
    padding-top: 0;
  }
}

.booking-button {
  width: 194px;
}

.mob-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100vh;
  display: block;
  overflow: auto;
  background-color: #fff;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: var(--hero-socials-color);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: initial;
  pointer-events: none;
}

.mob-menu-wrap {
  max-width: 337px;
  height: 100%;
  padding: 118px 99px 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-open {
  position: absolute;
  top: 48px;
  right: 31px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 48px;
  right: 31px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  border: transparent;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__link {
  color: var(--hero-socials-color);
  font-weight: 600;
  font-size: 18px;
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: #FF6C00;
}

.current {
  color: var(--accent-color);
}

.mob-menu__tel {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.mob-menu__tel:hover, .mob-menu__tel:focus {
  color: #FF6C00;
}

.mob-menu__booking-button {
  width: 194px;
  height: 40px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--hero-btn-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  margin-top: 24px;
  margin-bottom: 64px;
}
.mob-menu__booking-button:hover, .mob-menu__booking-button:focus {
  background-color: #FF6C00;
  color: #fff;
}

.mob-menu__bott-wrap {
  margin-top: auto;
}

.mob-menu__soc-list {
  position: relative;
  width: 62px;
  padding-left: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.2em;
  color: var(--hero-soc-link-color);
}
.mob-menu__soc-list::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background: #303030;
  top: 9px;
  left: 0;
}

.mob-menu__soc-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__soc-link:hover, .mob-menu__soc-link:focus {
  color: #FF6C00;
}

.booking-button {
  width: 160px;
  height: 40px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.booking-button:hover, .booking-button:focus {
  background-color: #FF6C00;
  -webkit-transform: transition;
          transform: transition;
  color: #fff;
}

.hero {
  position: relative;
  z-index: 15;
  top: 0;
  left: 0;
}
.hero .social-link {
  width: 90px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  padding: 100px 0 0 0;
}
.hero .social-link::before {
  display: none;
}
.hero .social-link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 44px;
  background-color: #303030;
  height: 60px;
  width: 1px;
}
@media screen and (min-width: 1200px) {
  .hero .social-link::after {
    left: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .social-link {
    width: 155px;
    padding: 150px 0 0 0;
  }
}

.hero__wrap-content {
  position: relative;
  padding-top: 208px;
  padding-bottom: 209px;
  width: 100%;
  padding-left: 2px;
  padding-right: 5px;
}
@media screen and (min-width: 480px) {
  .hero__wrap-content {
    padding-left: 31px;
    padding-right: 113px;
  }
}
@media screen and (min-width: 768px) {
  .hero__wrap-content {
    padding-top: 272px;
    padding-bottom: 237px;
    height: 680px;
    width: 570px;
    margin-left: auto;
    padding-left: 90px;
    padding-right: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrap-content {
    padding-top: 178px;
    padding-bottom: 208px;
    width: 1170px;
    height: 680px;
    padding-top: 272px;
    padding-left: 100px;
    padding-right: 526px;
  }
}

@media screen and (min-width: 768px) {
  .hero__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__uptitle {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 80px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero__uptitle::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: #9DA4BD;
  top: 7px;
  left: 0;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.1805555556;
  }
}

.hero__descr {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 768px) {
  .hero__descr {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__descr {
    width: 340px;
  }
}

.about {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .about__text-wrap {
    width: 330px;
  }
}

.about__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    width: 570px;
  }
}

.about__item {
  height: 235px;
}
.about__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .about__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    height: 445px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.about__img-one {
  height: 251px;
}
@media screen and (min-width: 1200px) {
  .about__img-one {
    height: 482px;
  }
}

.about__img-two {
  height: 251px;
}
@media screen and (min-width: 1200px) {
  .about__img-two {
    height: 482px;
  }
}

.about__uptitle {
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}
.about__uptitle::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  top: 7px;
  left: 0;
  background-color: #303030;
}

.about__title {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  color: #303030;
}
@media screen and (min-width: 480px) {
  .about__title {
    width: 306px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 42px;
    width: 470px;
  }
}

.about__descr {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 480px) {
  .about__descr {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .about__descr {
    font-size: 18px;
    line-height: 1.6666666667;
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .about__descr {
    font-size: 18px;
    width: 470px;
  }
}

.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 480px) {
  .about__text {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-bottom: 77px;
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    width: 470px;
    margin-bottom: 42px;
  }
}

.service {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #111319;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/service/service-bac-mob-1x.png);
}
@media screen and (min-width: 768px) {
  .service {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .service {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .service {
    background-image: url(../images/service/service-bac-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .service {
    background-image: url(../images/service/service-bac-tab-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .service {
    background-image: url(../images/service/service-bac-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .service {
    background-image: url(../images/service/service-bac-desk-1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .service {
    background-image: url(../images/service/service-bac-desk-2x.png);
  }
}

.service__uptitle {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  padding-left: 80px;
  margin-bottom: 20px;
}
.service__uptitle::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  top: 7px;
  left: 0;
}

.service__title {
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .service__title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}

.servise__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__lists-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px 20px 30px 40px;
  margin-bottom: 44px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .service__lists-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    background: none;
    padding: 0;
  }
}

.service__list {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 768px) {
  .service__list {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}
.service__list:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .service__list:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .service__list {
    padding: 30px 20px;
    width: 570px;
  }
  .service__list:nth-child(1) {
    background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .service__list:nth-child(2) {
    background: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.service__item:not(:last-child) {
  margin-bottom: 20px;
}

.booking-button--light-text-color {
  color: #FFFFFF;
}

.choice {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .choice {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .choice {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .choice__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.choice__uptitle {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
  padding-left: 80px;
  margin-bottom: 20px;
}
.choice__uptitle::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  top: 7px;
  left: 0;
}

.choice__title {
  width: 100%;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .choice__title {
    width: 418px;
  }
}
@media screen and (min-width: 768px) {
  .choice__title {
    width: 440px;
  }
}

.choice__text {
  margin-bottom: 44px;
  width: 100%;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 480px) {
  .choice__text {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .choice__text {
    width: 500px;
  }
}

.choice__list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 255px;
  gap: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .choice__list-wrap {
    gap: 30px;
    width: 417px;
  }
}
@media screen and (min-width: 768px) {
  .choice__list-wrap {
    width: 450px;
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .choice__list-wrap {
    width: 370px;
    margin: 0 130px 0 0;
  }
}

.choice__list {
  -ms-flex-preferred-size: calc((100% - 10px) / 2);
      flex-basis: calc((100% - 10px) / 2);
}
@media screen and (min-width: 480px) {
  .choice__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
.choice__list:not(:first-child) {
  margin-top: 33px;
}

.choice__item {
  height: 133px;
  background-color: #F7F7F7;
  text-align: center;
  padding: 20px 36px;
}
.choice__item:first-child {
  margin-bottom: 30px;
}

.choice__num {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
@media screen and (min-width: 480px) {
  .choice__num {
    font-size: 42px;
  }
}

.choice__icon {
  position: absolute;
  top: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.375;
  text-align: center;
  color: #FF6C00;
}
@media screen and (min-width: 480px) {
  .choice__icon {
    font-size: 16px;
  }
}

.choice__dscr {
  font-weight: 600;
  font-size: 8px;
  line-height: 1.3636363636;
  text-align: center;
  color: #303030;
}
@media screen and (min-width: 480px) {
  .choice__dscr {
    font-size: 11px;
  }
}

.barbers {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .barbers {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .barbers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .barbers__wrap {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .barbers__wrap {
    width: 100%;
  }
}

.barbers__uptitle {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
  padding-left: 80px;
  margin-bottom: 20px;
}
.barbers__uptitle::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  top: 7px;
  left: 0;
}

.barbers__title {
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 44px;
}

@media screen and (min-width: 1200px) {
  .barbers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.barbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.barbers__item:not(:last-child) {
  margin-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .barbers__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.barbers__image {
  margin-bottom: 30px;
}

.barbers__subtitle {
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.barbers__dscr {
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FF6C00;
  margin-bottom: 30px;
}

.portfolio {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.portfolio__uptitle {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
  padding-left: 80px;
  margin-bottom: 71px;
}
.portfolio__uptitle::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  top: 7px;
  left: 0;
  background-color: #303030;
}
@media screen and (min-width: 768px) {
  .portfolio__uptitle {
    margin-bottom: 44px;
  }
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    width: 690px;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    width: 1170px;
  }
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    -webkit-transition: scale(0);
    transition: scale(0);
  }
  .portfolio__item:hover, .portfolio__item:focus {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.contact {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #191C26;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/contacts/contact-bac-mob-1x.png);
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    padding-top: 120px;
    padding-bottom: 120px;
    background: none;
    padding-left: 100px;
    padding: 0 0 0 100px;
    width: 366px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contact {
    background-image: url(../images/contacts/contact-bac-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .contact {
    background-image: url(../images/contacts/contact-bac-tab-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contact {
    background-image: url(../images/contacts/contact-bac-tab-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .contact__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .contact__adress-wrap {
    display: inline-block;
    text-align: left;
    width: 330px;
  }
}

@media screen and (min-width: 768px) {
  .contact__adress {
    width: 199px;
  }
}

.contact__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contact__title {
    text-align: left;
  }
}

.contact__address {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  margin-bottom: 20px;
}

.contact__list {
  margin-bottom: 44px;
}

.contact__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contact__link--underline {
  text-decoration: underline;
}

.contact__icon {
  display: inline-block;
  margin-right: 16px;
}

.contact__subtitle {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 80px;
  margin-bottom: 20px;
}
.contact__subtitle::before {
  position: absolute;
  width: 60px;
  height: 1px;
  content: "";
  top: 7px;
  left: 0;
  background-color: rgba(157, 164, 189, 0.4);
}

.contact__date-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

@media screen and (min-width: 1200px) {
  .bottom-bacground-box {
    width: 100%;
    background-color: #191C26;
    background-image: url(../images/contacts/contact-bac-desk-1x.png), -webkit-gradient(linear, left top, left bottom, from(#191C26));
    background-image: url(../images/contacts/contact-bac-desk-1x.png), linear-gradient(#191C26);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50.8% 100%, 100%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .bottom-bacground-box {
    background-image: url(../images/contacts/contact-bac-desk-2x.png), -webkit-gradient(linear, left top, left bottom, from(#191C26));
    background-image: url(../images/contacts/contact-bac-desk-2x.png), linear-gradient(#191C26);
  }
}

@media screen and (min-width: 1200px) {
  .contact-from__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.boooking-form {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #191C26;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .boooking-form {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .boooking-form {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .boooking-form {
    background: none;
    width: 570px;
    padding: 0 30px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .boooking-form__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.boooking-form__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .boooking-form__title {
    text-align: left;
  }
}

.boooking-form__input, .boooking-form__textarea {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.boooking-form__input:hover, .boooking-form__input:focus, .boooking-form__textarea:hover, .boooking-form__textarea:focus {
  outline: transparent;
  border-bottom: 1px solid #fff;
  -webkit-transform: transition;
          transform: transition;
}
.boooking-form__input ::-webkit-input-placeholder, .boooking-form__textarea ::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.boooking-form__input ::-moz-placeholder, .boooking-form__textarea ::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.boooking-form__input :-ms-input-placeholder, .boooking-form__textarea :-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.boooking-form__input ::-ms-input-placeholder, .boooking-form__textarea ::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.boooking-form__input ::placeholder, .boooking-form__textarea ::placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.boooking-form__input:hover, .boooking-form__input:focus::-webkit-input-placeholder, .boooking-form__textarea:hover, .boooking-form__textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.boooking-form__input {
  width: 100%;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
}

.boooking-form__textarea {
  width: 100%;
  height: 76px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
  resize: none;
}

.boooking-form__btn {
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.boooking-form__btn:hover, .boooking-form__btn:focus {
  background-color: #FF6C00;
  color: #fff;
  -webkit-transform: transition;
          transform: transition;
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  background-color: #F7F7F7;
}
.footer .social-link {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 40px;
  margin-left: auto;
  font-size: 11px;
  line-height: 1.3636363636;
  padding-left: 100px;
}
.footer .social-link:nth-child(1)::before {
  width: 60px;
  height: 1px;
  left: -104px;
  top: 7px;
}
@media screen and (min-width: 480px) {
  .footer .social-link:nth-child(1)::before {
    left: 0px;
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 20px;
  width: 119px;
}
@media screen and (min-width: 480px) {
  .footer__wrap {
    width: 280px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    width: 521px;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    width: 1000px;
  }
}

.footer__copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #9DA4BD;
  display: inline-block;
  width: 158px;
}

.social-link {
  position: relative;
  width: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.2em;
  color: var(--hero-soc-link-color);
}
@media screen and (min-width: 480px) {
  .social-link {
    padding-left: 100px;
  }
}
.social-link::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  background: #303030;
  top: 11px;
  left: 0;
}

.social-link--disabled {
  display: none;
}
@media screen and (min-width: 768px) {
  .social-link--disabled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-link__link {
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.social-link__link:hover, .social-link__link:focus {
  color: #FF6C00;
  -webkit-transform: transition;
          transform: transition;
}/*# sourceMappingURL=main.css.map */