
body {
    color: #303030;
    // padding-top: 25px;
    // padding-top: 94px;
    // position: relative;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
address{
    font-style:normal;
}

.container{
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    
    @include mobile{
        max-width: 480px;
    }
    @include tablet{
        max-width: 720px;
    }
    @include desktop{
        max-width: 1200px;
    }
}
.no-scroll{
    overflow: hidden;
}
.header-hero-bacground{
    
}
// .bacground-slider{
//     background-color: #111319;
//     z-index: -1;
//     width: 100%;
//     height: 150;
// }