.barbers {
    @include sectionSet;
    background-color: #F7F7F7;
    @include tablet {
        @include sectionSet ($p-top: 100px, $p-bot: 100px);
    }
    @include desktop {
        @include sectionSet ($p-top: 120px, $p-bot: 120px);
    }
}
.barbers__wrap{
    @include tablet{
        width: 450px;
        margin: 0 auto;
    }
    @include desktop{
        width: 100%;
    }
}
.barbers__uptitle {
    @include uptitile-before;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15px / 11px);
    text-transform: uppercase;
    color: #303030;
    margin-bottom: 20px;
}

.barbers__title {
    font-size: 42px;
    line-height: calc(49px / 42px);
    letter-spacing: 0.05em;
    color: #303030;
    margin-bottom: 44px;
}

.barbers__list {
    @extend %list;
    @include desktop{
        display: flex;
        gap: 30px;
    }
}

.barbers__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child){
        margin-bottom: 64px;
        @include desktop{
            margin-bottom: 0;
        }
    }
}

.barbers__image {
    margin-bottom: 30px;
}

.barbers__subtitle {
    font-size: 18px;
    line-height: calc(25px / 18px);
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
    margin-bottom: 8px;
}

.barbers__dscr {
    font-size: 14px;
    line-height: calc(19px / 14px);
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF6C00;
    margin-bottom: 30px;
}

