.choice {
    @include sectionSet;
}

.choice__uptitle {
    position: relative;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15px / 11px);
    text-transform: uppercase;
    color: #303030;
    padding-left: 80px;
    margin-bottom: 20px;
    &::before{
        position: absolute;
        content: '';
        width: 60px;
        height: 1px;
        background-color: #303030;
        top: 7px;
        left: 0;
    }
}

.choice__title {
    width: 100%;
    font-size: 42px;
    line-height: calc(49px / 42px);
    letter-spacing: 0.05em;
    color: #303030;
    margin-bottom: 20px;

    @include mobile{
        width: 418px;
    }
}

.choice__text {
    margin-bottom: 44px;
    width: 100%;
    font-size: 18px;
    line-height: calc(30px / 18px);
    letter-spacing: 0.02em;
    color: #555555;
    @include mobile {
            width: 375px;
        }
}
.choice__list-wrap{
    display: flex;
    width: 255px;
    gap: 10px;
    margin: 0 auto;
    @include mobile{
        gap: 30px;
        width: 417px;
    }
    @include tablet{
        width: 450px;
    }
}
.choice__list {
    @extend %list;
    flex-basis: calc((100% - 10px) / 2);
    @include mobile{
        flex-basis: calc((100% - 30px) / 2);
        &:not(:first-child){
            margin-top: 33px;
            @include tablet{
                margin-top: 0;
            }
        }
    }
}

.choice__item {
    height: 133px;
    background-color: #F7F7F7;
    text-align: center;
    padding: 20px 36px;
    &:first-child {
        margin-bottom: 30px;
    }
}

.choice__num {
    position: relative;
    display: inline-block;
    margin-bottom: 6px;

    font-size: 27px;
    font-weight: 700;
    line-height: calc(57px / 42px);
    text-align: center;
    letter-spacing: 0.05em;

    color: #303030;

    @include mobile{
        font-size: 42px;
    }
}
.choice__icon{
    position: absolute;
    top: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: calc(22px / 16px);
    text-align: center;
    color: #FF6C00;

    @include mobile{
        font-size: 16px;
    }
}
.choice__dscr {
    font-weight: 600;
    font-size: 8px;
    line-height: calc(15px / 11px);
    text-align: center;

    color: #303030;

    @include mobile{
        font-size: 11px;
    }
}
