.contact {
    width: 100%;
    @include sectionSet;
    @include tablet {
        @include sectionSet ($p-top: 100px, $p-bot: 100px);
    }
    @include desktop {
        @include sectionSet ($p-top: 120px, $p-bot: 120px);
    }
    background-color: #191C26;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../img/contacts/contacts-bacgrd-mobile.png);
    @include retina{
        background-image: url(../../img/contacts/contacts-bacgrd-mobile-2x.png)
    }
    @include desktop{
        background: none;
        padding-left: 100px;
        padding: 0 0 0 100px;
        width: 366px;
    }
}
.contact__wrap{
    @include tablet{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    @include desktop{
        flex-wrap: wrap;
    }
}
.contact__adress-wrap{
    @include tablet{
        display: inline-block;
        text-align: left;
        width: 330px;
    }
}
.contact__adress{
    @extend %link;
    @include tablet{
        width: 199px;
    }
}
.contact__title {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49px / 42px);
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
    margin-bottom: 40px;
    @include tablet{
        text-align: left;
    }
}


.contact__address {
    display: inline-flex;
        align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(30px / 18px);
    letter-spacing: 0.02em;
    color: #9DA4BD;
    margin-bottom: 20px;
}

.contact__list {
    @extend %list;
    margin-bottom: 44px;
}

.contact__item {
    &:not(:last-child){
        margin-bottom: 20px;
    }
}

.contact__box {
    display: inline-flex;
    align-items: center;
}
.contact__link{
    @extend %link;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30px  / 18px);
    letter-spacing: 0.02em;
    color: #9DA4BD;
}
.contact__link--underline{
    text-decoration: underline;
}
.contact__icon{
    display: inline-block;
    margin-right: 16px;
}
.contact__subtitle {
    position: relative;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15px / 11px);
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 80px;
    margin-bottom: 20px;
    &::before{
        position: absolute;
        width: 60px;
        height: 1px;
        content: '';
        top: 7px;
        left: 0;
        background-color: rgba(157, 164, 189, 0.4);
    }
}

.contact__date-time {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(30px / 18px);
    letter-spacing: 0.02em;
    color: #9DA4BD;
}