.footer {
    @include sectionSet($p-top: 44px, $p-bot: 44px);
    background-color: #F7F7F7;

   }
.footer__wrap{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    width: 288px;
    @include mobile{
        width: 418px;
        justify-content: space-between;
    }
    @include tablet{
        width: 690px;
        flex-direction: unset;
    }
    @include desktop{
        width: 1170px;
    }
}
.footer__copy {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15px / 11px);
    letter-spacing: 0.2em;
    color: #9DA4BD;
    display: inline-block;
    width: 158px;
}

