.header{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgba(25, 28, 38, 0.2);
}
.navigate {
    @media screen and (max-width:768px) {
        display: none;
    }
}
.header__contact {
    @media screen and (max-width:768px) {
        display: none;
    }
}

.header__list {
    @extend %list;
}
.booking-button{
    width: 194px;
}