.header{
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    @include tablet{
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
.header__wrap{
    display: flex;
    @include desktop{
        align-items: center;
    }
}
.navigate {
    display: none;
    margin-left: 70px;
    @include tablet{
        display: block;
    }
    @include desktop{
    margin-left: 130px; 
}
}
.header__contact {
    display: none;
    
    margin-left: auto;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16px / 12px);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    @include tablet{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    @include desktop{
        flex-direction: unset;
        align-items: center;
    }
    .booking-button{
        color: #FFFFFF;
    }
}
.header__phone-link{
    @extend %link;
    transition: 250ms linear;
    &:hover,
    &:focus{
        color: #FF6C00;
        transform: transition;
    }
}
.header__list {
    @extend %list;
    display: flex;
    gap: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16px / 12px);
    letter-spacing: 0.1em;
    color: #FFFFFF;

    @include desktop{
        gap: 30px;
    }
}
.header__link{
    @extend %link;
    display: inline-block;
    padding-top: 12px;
    transition: 250ms linear;
    &:hover,
    &:focus{
        color: #FF6C00;
        transform: transition;
    }
    @include desktop{
        padding-top: 0;
    }
}
.booking-button{
    width: 194px;
}