.hero {
    position: relative;
    z-index: 15;
    top: 0;
    left: 0;
    
}

.hero__wrap-content{
    position: relative;
    @include sectionSet($p-top: 208px, $p-bot: 209px);
    width: 100%;
    padding-left: 2px;
    padding-right: 5px;
    @include mobile{
        padding-left: 31px;
        padding-right: 113px;
    }
    @include tablet { 
        @include sectionSet($p-top: 272px, $p-bot: 237px);
        height: 680px;
        width: 570px;
        margin-left: auto;
        padding-left: 90px;
        padding-right: 120px;
    }
    @include desktop { 
        @include sectionSet($p-top: 178px, $p-bot: 208px);
        width: 1170px;
        height: 680px;
        padding-top: 272px;
        padding-left: 100px;
        padding-right: 526px;
    }
        
            
    
}
.hero__wrap{
   @include tablet{
     display: flex;
    gap: 30px;
   }
   @include desktop{
    gap: 20px;
   }
}
.hero__uptitle {
    @include uptitile-before;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15px / 11px);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.hero__title {
    margin-bottom: 20px;
    
    font-size: 48px;
    line-height: calc(56px / 48px);
    letter-spacing: 0.05em;

    color: #FFFFFF;

    @include desktop{
    font-size: 72px;
    line-height: calc(85px / 72px);
    }
}

.hero__descr {
    font-size: 16px;
    line-height: calc(26px / 16px);
    letter-spacing: 0.02em;
    color: #9DA4BD;
    @include tablet{
        font-size: 18px;
    }
    @include desktop{
        width: 340px;
    }
}
