.bottom-bacground-box{
    @include desktop{
        width: 100%;
        // background: linear-gradient(#191C26);
        background-color: #191C26;
        background-image: url(../images/contacts/contact-bac-desk-1x.png), linear-gradient(#191C26);
        @include retina {
                background-image: url(../images/contacts/contact-bac-desk-2x.png), linear-gradient(#191C26);
            }
        background-repeat: no-repeat;
        background-position: right;
        background-size: 50.8% 100%, 100%;
       
    }
}

.contact-from__wrap{
    @include desktop{
        display: flex;
        align-items: flex-start;
        // width: 953px;
        // padding-left: 215px;
        // padding-right: 432px;
        @include sectionSet ($p-top: 120px, $p-bot: 120px);
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    
        margin-left: auto;
        margin-right: auto;
    }
}
.boooking-form {
    @include sectionSet;
    @include tablet {
        @include sectionSet ($p-top: 100px, $p-bot: 100px);
    }
    background-color: #191C26;
    text-align: center;
    @include tablet{
        text-align: left;
    }
    @include desktop{
        background: none;
        width: 570px;
        padding: 0 30px 0 0;
    }
}
.boooking-form__wrap{
    @include tablet{
    display: flex;
    gap: 30px;
}
}
.container {}

.boooking-form__form-wrap {}

.boooking-form__fill {
    
}

.boooking-form__title {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49px / 42px);
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
    margin-bottom: 44px;

    @include desktop{
        text-align: left;
    }
}
.boooking-form__input, .boooking-form__textarea{
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15px / 11px);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    transition: 250ms linear;
    &:hover,
    &:focus{
        outline: transparent;
        border-bottom: 1px solid #fff;
        transform: transition;
    }
    ::placeholder{
        color: rgba(157, 164, 189, 0.4);
    }
    &:hover,
    &:focus::-webkit-input-placeholder {
        color: #fff;
    }
}
.boooking-form__input {
    width: 100%;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    margin-bottom: 44px;
}

.boooking-form__textarea {
    width: 100%;
    height: 76px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    margin-bottom: 44px;
    resize: none;
}

.boooking-form__btn {
    @extend %button;
    width: 160px;
    height: 40px;

    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    color: #FFFFFF;

    transition: 250ms linear;

    &:hover,
    &:focus {
        background-color: #FF6C00;
        color: #fff;
        transform: transition;
    }
    // &:active{
    // }
}