.portfolio {
    @include sectionSet;
    @include tablet{
        @include sectionSet ($p-top: 100px, $p-bot: 100px);
    }
    @include desktop {
        @include sectionSet ($p-top: 120px, $p-bot: 120px);
    }
}
.portfolio__title{
    @extend %visuality-hidden;
}
.portfolio__uptitle{
    position: relative;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15px / 11px);
    text-transform: uppercase;
    color: #303030;
    padding-left: 80px;
    margin-bottom: 71px;
    &::before{
        position: absolute;
        content: '';
        width: 60px;
        height: 1px;
        top: 7px;
        left: 0;
        background-color: #303030;
    }
    @include tablet{
        margin-bottom: 44px;
    }
}
.portfolio__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet{
        flex-direction: unset;
        width: 690px;
        gap: 30px;
        flex-wrap: wrap;
        align-items: baseline;
       
    }
    @include desktop {
        width: 1170px;
    }
}

.portfolio__item {
    &:not(:last-child){
        margin-bottom: 30px;
        @include tablet {
            margin-bottom: 0;
        }
    }
    @include tablet{
        flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop{
        flex-basis: calc((100% - 90px) / 4);
        transition: scale(0);
        &:hover, &:focus{
            transform: scale(1.5);
           
    }

    }}

