
.social-link {
    position: relative;
    width: 62px;

    display: flex;
    flex-wrap: wrap;
    // gap: 24px;

    @extend %list;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(19px / 14px);
    letter-spacing: 0.2em;

    color: var(--hero-soc-link-color);
    // margin-left: 100px;

    @include mobile{
        padding-left: 100px;
        
    }
    
        &::before {
            position: absolute;
            content: '';
            width: 60px;
            height: 1px;
            background: #303030;
            top: 11px;
            left: 0;
        }

        
}
.social-link--disabled{
    display: none;
    @include tablet{
        display: flex;
    }
}

// .social-link__item {
//    height: 15px;
// }

.social-link__link {
    @extend %link;
    &:hover,
    &:focus {
        color: #FF6C00;
    }
}