@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin push--auto() {
    margin-left: auto;
    margin-right: auto;
}


@mixin flex--center($type: flex, $js-con: center, $al-i: center) {
    display: $type;
    justify-content: $js-con;
    align-items: $al-i;
}

@mixin sectionSet($p-top: 84px, $p-bot: 84px) {
    padding-top: $p-top;
    padding-bottom: $p-bot;
    // text-align: center;
}


@mixin retina {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}

// @mixin booking-btn ($w:160px, $h:40px, $color: ) {
//     @extend %button;

//     width: $w;
//     height: $h;
//     display: block;

//     font-weight: 600;
//     font-size: 12px;
//     line-height: calc(16px / 12px);
//     letter-spacing: 0.09em;
//     text-transform: uppercase;

//     color: $color;

//     border: 1px solid var(--accent-color);
//     border-radius: 25px;
//     background-color: transparent;
// }
