@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}
@mixin flex--center($type: flex, $js-con: center, $al-i: center) {
    display: $type;
    justify-content: $js-con;
    align-items: $al-i;
}

@mixin sectionSet($p-top: 84px, $p-bot: 84px) {
    padding-top: $p-top;
    padding-bottom: $p-bot;
}

@mixin uptitile-before ($bg-color: currentColor, $width: 60px, $height: 1px){
    display: flex;
    align-items: center;
    gap: 40px;
    &::before {
        // position: absolute;
        content: '';
        width: $width;
        height: $height;
        display: block;
        // top: 7px;
        // left: $left;
        background-color: $bg-color;
    }
}



