%list{
    list-style: none;
    padding: 0;
    margin: 0;
}
%link {
    text-decoration: none;
    color: var(--primary-link-color);
}
%button {
    display: inline-block;
    border: transparent;
    background-color: transparent;

    padding-left: 0;
    padding-right: 0;

    cursor: pointer;
    border-radius: 4px;

    font-family: inherit;
}
%section-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    text-align: center;
}
%visuality-hidden {
    position: absolute;
    white-space: nowrap;

    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;

    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
// %uptitle-before{
//     &::before {
//         position: absolute;
//         content: '';
//         width: 60px;
//         height: 1px;
//         top: 7px;
//         left: 0;
//         background-color: currentColor;
//     }
// }