:root{

    --accent-color: #FF6C00;
    --primary-color:#303030;
    --additional-color: #555555;
    --primary-light-color: #fff;


    // --header-links-color: #fff;
    // --hero-soc-link-color: #303030;
    // --hero-btn-color: #303030;


    // --hero-text-color: #9DA4BD;
    // --hero-title-text-color:#FFFFFF;
    // --hero-socials-color:#303030;

    // --about-tittle-color: #303030;
    // --about-btn-tx-color:#303030;

    // --services--up-titile: #9DA4BD;
    // --services-title-text-color: #FFFFFF;
    // --services-table-text-color:#9DA4BD;
    // --services-btn-text-color:#FFFFFF;

    // --choice--up-title-color: #303030;
    // --choice--title-color: #303030;
    // --choice--prm-text-color: #303030;
    // --choice-dscr-color:#555555;

    // --barbers-dscr-color: #303030;

    // --gallery-up-title-color:#303030;

    // --contacts-title-color: #fff;
    // --contacts-btn-text-color: #fff;
    // --contacts-sub-tit-color: #fff;
    // --contacts-text-color:#9DA4BD;

    // --footer-links-color: #303030;
    // --footer-copyright:#9DA4BD;

}